.container{
    position: relative;
    width:1226px;
    margin-right:auto;
    margin-left:auto;
  }

  /* 清除浮动 */
.f_l{
	float: left;
}
.f_r{
	float: right;
}

/* 清除浮动 */
.clearfix::before,
.clearfix::after{
	content:'';
	display: block;
	line-height: 0;
	height: 0;
	visibility: hidden;
	clear: both;
}